<%= form_for(@profile) do |f| %>

  <div>
    <%= f.label :first_name %><%= f.text_field :first_name %><br>
    <%= f.label :last_name %><%= f.text_field :last_name %><br>
  </div>

  <div>
    <% @social_list.each do |label, entry| %>
      <%# byebug %>
      <%= f.fields_for :socials, one_by_kind(@profile.socials, @profile.socials.kinds[entry]) do |a| %>
        <%= a.hidden_field :kind, {value: entry} %><%= label %>: <%= a.text_field :username %>
      <% end %>
    <% end %>
  </div>

<% end %>